
			body {
				font-family: 'Montserrat', sans-serif;
				font-display: optional;
				position: relative;
				font-weight: 200;
			}

			

			.text-center {
				text-align: center !important;;
			}

			body,
			p,
			div,
			nav,
			article,
			section {
				margin: 0;
				padding: 0;
				color: #4e4e4e;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			ul li {
				margin: 0;
				padding: 0;
			}

			h1 {
				font-size: 36px;
				font-weight: 200;
			}

			h2 {
				font-size: 32px;
			}

			.container {
				width: 100%;
				text-align: center;
				padding: 20px 10px;
			}


			.navigation ul li {
				padding: 20px 10px;
			}

			@media (min-width: 768px) and (max-width: 1024px) {
				h1 {
					font-size: 64px;
				}
			}

			@media (min-width: 1024px) and (max-width: 1400px) {
				h1 {
					font-size: 64px;
				}
			}

			@media (min-width: 1400px) {
				h1 {
					font-size: 128px;
				}
				body {
					font-size: 32;
				}
			}
		
